asgiref==3.6.0
dj-database-url==2.0.0
Django==4.2.3
django-debug-toolbar==4.0.0
django-heroku==0.3.1
django-on-heroku==1.1.2
environ==1.0
gunicorn==20.1.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
pycodestyle==2.10.0
virtualenv==20.23.0
whitenoise==6.5.0
django-environ~=0.4.5
django-sendgrid-v5~=1.1.1

