{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<h2>{{ topic.title }}</h2>

{% for text in texts %}
<div class="col-1 offset-1">
  {% if text.user.picture %}
    <img style="float:left;" width="50px" height="50px" src="{{ text.user.picture.url }}">
  {% endif %}
</div>
<div class="col-5 offset-2">
  <p>ユーザーネーム: {{ text.user.username }}</p>
  <p>{{ text.text | linebreaks }}</p>
</div>
<div class="col-5 offset-1">
<hr>
</div>
{% endfor %}
{% if user.is_authenticated %}
<div class="col-5 offset-1">
  {% comment %} <form method="POST">
  {% csrf_token %}
  {{ post_text_form.as_p }}
  <input type = "button" value="保存" id="save_text">
  <input type = "submit" value="テキスト送信"> {% endcomment %}
  {% comment %} </form> {% endcomment %}

  <style>
    /* 入力欄の幅を調整 */
  .form-control {
    max-width: 500px; /* 適切な幅に調整 */
  }
  
  /* フォーム間のスペース */
  .form-group {
    margin-top: 1%;
  }
  
  /* ボタンのスタイル */
  .btn-post_text {
    background-color: #8cf49c;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .btn-post_text:hover {
    background-color: #24ec4c; /* マウスオーバー時の背景色 */
  }

  .delete_topic {
    margin-top: 2%;
  }

  </style>
    
  <form method="POST" class="mt-4">
    {% csrf_token %}
    <div class="form-group">
      {{ post_text_form.text.label_tag }} <!-- ラベルを表示 -->
      {{ post_text_form.text|add_class:"form-control" }} <!-- 入力フィールドにクラスを追加 -->
    </div>
    <input type = "button" value="保存" id="save_text">
    <input type="submit" class="btn-post_text mt-3" value="テキスト送信">
  </form>
</div>
{% endif %}
{% endblock %}
{% block ajax_javascript %}
<script>
$("#save_text").click(function(){
  var text = $("#id_text").val();
  $.ajax({
    url: "{% url 'board:save_text' %}",
    type: "GET",
    data: {text: text, topic_id: "{{ topic.id }}"},
    dataType: "json",
    success: function(json){
      if(json.message){
        alert(json.message);
      }
    }
  });
});
</script>
{% endblock %}