{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}

<style>
  /* 入力欄の幅を調整 */
.form-control {
  max-width: 500px; /* 適切な幅に調整 */
}

/* フォーム間のスペース */
.form-group {
  margin-top: 1%;
}

/* ボタンのスタイル */
.btn-change_password {
  background-color: #8cf49c;
  color: #000;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.btn-change_password:hover {
  background-color: #24ec4c; /* マウスオーバー時の背景色 */
}
</style>


<form method="POST" class="mt-4">
  {% csrf_token %}
  <div class="form-group">
    {{ change_password_form.password.label_tag }} <!-- ラベルを表示 -->
    {{ change_password_form.password|add_class:"form-control" }} <!-- 入力フィールドにクラスを追加 -->
  </div>
  <div class="form-group">
    {{ change_password_form.reenter_password.label_tag }} <!-- ラベルを表示 -->
    {{ change_password_form.reenter_password|add_class:"form-control" }} <!-- クラスを追加 -->
  </div>
  <button type="submit" class="btn-change_password mt-3">パスワード変更</button>
</form>

{% endblock %}

