{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}

<style>
  /* 入力欄の幅を調整 */
.form-control {
  max-width: 500px; /* 適切な幅に調整 */
}

/* フォーム間のスペース */
.form-group, .change_password {
  margin-top: 1%;
}

/* ボタンのスタイル */
.btn-edit {
  background-color: #8cf49c;
  color: #000;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #24ec4c; /* マウスオーバー時の背景色 */
}

.change_password {
  margin-top: 2%;
}


</style>
  
<form method="POST" class="mt-4" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    {{ edit_form.username.label_tag }} <!-- ラベルを表示 -->
    {{ edit_form.username|add_class:"form-control" }} <!-- 入力フィールドにクラスを追加 -->
  </div>
  <div class="form-group">
    {{ edit_form.date_of_birth.label_tag }} <!-- ラベルを表示 -->
    {{ edit_form.date_of_birth|add_class:"form-control" }} <!-- 入力フィールドにクラスを追加 -->
  </div>
  <div class="form-group">
    {{ edit_form.email.label_tag }} <!-- ラベルを表示 -->
    {{ edit_form.email|add_class:"form-control" }} <!-- 入力フィールドにクラスを追加 -->
  </div>
  <div class="form-group">
    {{ edit_form.picture.label_tag }} <!-- ラベルを表示 -->
    {{ edit_form.picture|add_class:"form-control" }} <!-- 入力フィールドにクラスを追加 -->
  </div>
  <button type="submit" class="btn-edit mt-3">更新</button>
</form>
<div class="change_password">
<a href="{% url 'accounts:change_password' %}">パスワードを変更する</a>
</div>
{% endblock %}